# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*egg-info
build/
dist/
.DS_Store

public.key
private.key

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
*.pyc

# Sphinx documentation
docs/_build/
env/

.DS_Store
